@model TimeClock.Models.Employee

<tr @if (Model != null) {
    @:data-pkey="@Model.EmployeeID"
}>
    <td>
        @Html.EditorFor(model => model.EmployeeID)
        @Html.ValidationMessageFor(model => model.EmployeeID)
    </td>
    <td>
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </td>
    <td>
        @Html.EditorFor(model => model.MiddleInitial)
        @Html.ValidationMessageFor(model => model.MiddleInitial)
    </td>
    <td>
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </td>
    <td>
        @Html.EditorFor(model => model.Terminated)
        @Html.ValidationMessageFor(model => model.Terminated)
    </td>
    <td>
        @Html.EditorFor(model => model.Pin)
        @Html.ValidationMessageFor(model => model.Pin)
    </td>
    <td>
        @Html.EditorFor(model => model.DepartmentID)
        @Html.ValidationMessageFor(model => model.DepartmentID)
    </td>
    <td>
        @Html.EditorFor(model => model.ManagerID)
        @Html.ValidationMessageFor(model => model.ManagerID)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Save</button><button class="cancelEditRow">Cancel</button>
} else {
        <button class="createRow">Create</button><button class="cancelCreateRow">Cancel</button>
}
    </td>
</tr>
