@model TimeClock.Models.Message

<tr @if (Model != null) {
    @:data-pkey="@Model.MessageID"
}>
    <td>
        @Html.EditorFor(model => model.Body)
        @Html.ValidationMessageFor(model => model.Body)
    </td>
    <td>
        @Html.EditorFor(model => model.DateCreated)
        @Html.ValidationMessageFor(model => model.DateCreated)
    </td>
    <td>
        @Html.EditorFor(model => model.Subject)
        @Html.ValidationMessageFor(model => model.Subject)
    </td>
    <td>
        @Html.EditorFor(model => model.ManagerID)
        @Html.ValidationMessageFor(model => model.ManagerID)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Save</button><button class="cancelEditRow">Cancel</button>
} else {
        <button class="createRow">Create</button><button class="cancelCreateRow">Cancel</button>
}
    </td>
</tr>
